body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px
}
/*清除浮动*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix{ zoom:1;}
.fl{float:left;}
.fr{float:right;}
/*font Size*/
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f22{ font-size: 22px;}
/*Color*/
.col-bs{ color: #333;}
.col-org{ color: #ff6700;}
.col-w{ color: #fff;}
.col-gray{ color: #b0b0b0;}

.bg-w{ background: #fff;}
.bg-con{ background: #f5f5f5;}
.bg-org{ background: #ff6700;}
.bg-gray{ background: rgba(0,0,0,.02);}

/** Box Shadow**/
.unit-shadow{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
/*Main Container*/
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}