* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* del-default */
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

/* header */
.wl-header {
    position: relative;
    font-size: 12px;
    background: #fff;
}

/* header - top */
.wl-header .header-top {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}

.wl-header .header-top ul li {
    position: relative;
    float: left;
    padding: 0 5px;
}

.wl-header .header-top ul li a {
    display: block;
}

.wl-header .header-top ul li a:hover {
    color: #fff;
}

.wl-header .header-top ul li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 14px;
    right: 0;
    width: 1px;
    height: 12px;
    background: #424242;
}

/* shopping-cart */
.wl-header .shopping-cart {
    position: relative;
    background: #424242;
    margin-left: 12px;
}

.wl-header .shopping-cart:hover a {
    position: relative;
    color: #ff6700;
    background: #fff;
    transition: all .3s ease;
}

.wl-header .shopping-cart a {
    display: block;
    padding: 0 10px;
    z-index: 9;
}

.wl-header .shopping-cart i.icon {
    font-size: 13px;
}

/* shopping-cart popup */
.wl-header .shopping-cart .popup {
    position: absolute;
    right: 0;
    top: 40px;
    width: 316px;
    text-align: center;
    min-height: 100px;
    line-height: 100px;
    color: #424242;
    background: #fff;
    border: 1px solid #e0e0e0 \9;
    border-top: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .3s ease;
    z-index: 1005;
}

/* hover - show */
.wl-header .shopping-cart:hover .popup {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transform: scaleY(1);
}

.wl-header .shopping-cart .popup .cont {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

/* loading - start */
.wl-header .shopping-cart .popup .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wl-header .shopping-cart .popup .loading .loader {
    position: relative;
    margin: 0 auto;
    width: 4px;
    height: 20px;
    background: #ff6700;
    overflow: visible;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.wl-header .shopping-cart .popup .loading .loader,
.wl-header .shopping-cart .popup .loading .loader:before,
.wl-header .shopping-cart .popup .loading .loader:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

.wl-header .shopping-cart .popup .loading .loader:before,
.wl-header .shopping-cart .popup .loading .loader:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 20px;
    content: '';
    background: #ff6700
}

.wl-header .shopping-cart .popup .loading .loader:before {
    margin: -10px 0 0 -10px;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-transform: scale(1, 0.3);
    -ms-transform: scale(1, 0.3);
    transform: scale(1, 0.3)
}

.wl-header .shopping-cart .popup .loading .loader:after {
    margin: -10px 0 0 6px;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-transform: scale(1, 0.5);
    -ms-transform: scale(1, 0.5);
    transform: scale(1, 0.5)
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(1, 0.5);
        opacity: .2;
        filter: alpha(opacity=20) \9
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100) \9
    }
}

@keyframes loader {
    0% {
        -webkit-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        opacity: .2;
        filter: alpha(opacity=20) \9
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100) \9
    }
}

/* loading - end */

/* down */
@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

/* header - nav */
.wl-header .header-nav {
    height: 100px;
}

.wl-header .header-nav .logo {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../../img/mi-logo.png) no-repeat center;
    margin-top: 22px;
}

.wl-header .header-nav .nav {
    line-height: 100px;
    padding-left: 168px;
}

.wl-header .header-nav .nav li {
    float: left;
}

.wl-header .header-nav .nav li a {
    display: block;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
}

.wl-header .header-nav .nav li a:hover {
    color: #ff6700;
}

.wl-header .header-nav .search-input {
    position: relative;
    margin-top: 26px;
}

.wl-header .header-nav .search-input .recommend {
    position: absolute;
    top: 15px;
    right: 56px;
    z-index: 1002;
}

.wl-header .header-nav .search-input .recommend.pull {
    display: none;
}

.wl-header .header-nav .search-input .recommend a {
    display: inline-block;
    margin-left: 1px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.wl-header .header-nav .search-input .recommend a:hover {
    color: #fff;
    background: #ff6700;
}

.wl-header .header-nav .search-input input {
    position: relative;
    width: 222px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #e0e0e0;
    padding-left: 8px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1000;
}

.wl-header .header-nav .search-input a.search-btn {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.wl-header .header-nav .search-input input.pull,
.wl-header .header-nav .search-input a.search-btn.pull {
    border: 1px solid #ff6700;
}

.wl-header .header-nav .search-input a.search-btn:hover {
    border: 1px solid #ff6700;
    background: #ff6700;
}

.wl-header .header-nav .search-input a.search-btn i {
    font-size: 18px;
    color: #666;
}

.wl-header .header-nav .search-input a.search-btn:hover i {
    color: #fff;
}

.wl-header .header-nav .search-input .drop-down {
    position: absolute;
    top: 0;
    left: 0;
    right: 47px;
    border: 1px solid #ff6700;
    background: #fff;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.wl-header .header-nav .search-input .drop-down.pull {
    visibility: visible;
    opacity: 1;
    top: 47px;
}

.wl-header .header-nav .search-input .drop-down li {
    position: relative;
}

.wl-header .header-nav .search-input .drop-down li a {
    position: relative;
    display: block;
    height: 28px;
    line-height: 28px;
    padding-left: 12px;
}

.wl-header .header-nav .search-input .drop-down li a:hover {
    background: #fafafa;
}

.wl-header .header-nav .search-input .drop-down li a span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #999;
}

/* nav-down */
.wl-header .nav-down {
    position: absolute;
    top: 138px;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .2s ease;
    z-index: 999;
}

.wl-header .nav-down.pull {
    transform: scaleY(1);
}

.wl-header .nav-down ul li {
    position: relative;
    float: left;
    text-align: center;
    width: 16.666%;
}

.wl-header .nav-down ul li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 35px;
    right: 0;
    width: 1px;
    height: 100px;
    background: #e0e0e0;
}

.wl-header .nav-down ul li a {
    display: block;
    margin-top: 30px;
}

.wl-header .nav-down ul li a img {
    height: 110px;
}

.wl-header .nav-down ul li h6 {
    font-weight: normal;
    padding-top: 5px;
}

.wl-header .nav-down ul li span.price {
    display: block;
    color: #ff6700;
    padding: 2px 0 16px;
}

/* main */
.wl-main {
    background: #f5f5f5;
    padding-bottom: 120px;
}

/* recommend */
.wl-recommend .title {
    position: relative;
    margin: 40px 0 10px;
}

.wl-recommend .title h2 {
    font-size: 22px;
}

.wl-recommend .title .arrow-wrap {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 0;
}

.wl-recommend .title .arrow-wrap a {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 12px;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

.wl-recommend .title .arrow-wrap a.arrow-left {
    margin-right: -1px;
}

.wl-recommend .title .arrow-wrap a.arrow-left i {
    display: block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wl-recommend .title .arrow-wrap a i {
    color: #a9a9a9;
}

.wl-recommend .title .arrow-wrap a:hover i {
    color: #ff6700;
}

.wl-recommend .title .arrow-wrap a.nomal i,
.wl-recommend .title .arrow-wrap a.nomal i:hover {
    color: #e0e0e0;
}

.wl-recommend .recommend-wrap li {
    float: left;
    width: 234px;
    text-align: center;
    background: #fff;
    margin-right: 14px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.wl-recommend .recommend-wrap li:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.wl-recommend .recommend-wrap li:last-child {
    margin-right: 0;
}

.wl-recommend .recommend-wrap {
    position: relative;
    width: 100%;
    height: 322px;
    overflow: hidden;
}

.wl-recommend .recommend-wrap ul {
    position: absolute;
    left: 0;
    width: 1226px;
    height: 322px;
    transition: left .5s ease;
}

.wl-recommend .recommend-wrap li img {
    height: 140px;
    margin: 40px 0 15px;
}

.wl-recommend .recommend-wrap li h6 {
    padding: 0 12px;
}

.wl-recommend .recommend-wrap li .price {
    color: #ff6700;
    margin: 10px 0;
}

.wl-recommend .recommend-wrap li .evaluate {
    color: #666;
    margin-bottom: 20px;
}

/* commonality */
.wl-width-1-4 .title {
    position: relative;
    margin: 40px 0 10px;
}

.wl-width-1-4 .title h2 {
    font-size: 22px;
}

.wl-width-1-4 ul li {
    width: 296px;
    float: left;
    background: #fff;
    transition: all 0.2s linear;
}

.wl-width-1-4 > ul > li:not(:last-child) {
    margin-right: 14px;
}

.wl-width-1-4 > ul > li:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* hot */
.wl-hot ul li {
    position: relative;
    height: 408px;
}

.wl-hot ul li .li-wrap {
    padding: 20px 26px;
}

.wl-hot ul li img {
    width: 296px;
    height: 220px;
}

.wl-hot ul li .li-wrap p.comment {
    line-height: 22px;
}

.wl-hot ul li .li-wrap p.comment-from {
    position: absolute;
    color: #999;
    font-size: 12px;
    bottom: 50px;
}

.wl-hot ul li .li-wrap .product-name {
    position: absolute;
    bottom: 20px;
}

.wl-hot ul li .li-wrap .product-name .line {
    color: #eee;
}

.wl-hot ul li .li-wrap .product-name .price {
    color: #ff6700;
}

/* cont */
.wl-cont > ul > li {
    position: relative;
    text-align: center;
    height: 420px;
    padding: 40px;
    font-size: 14px;
}

.wl-cont > ul > li:first-child {
    border-top: 1px solid #ffac13;
}

.wl-cont > ul > li:first-child h6 {
    color: #ffac13;
}

.wl-cont > ul > li:nth-child(2) {
    border-top: 1px solid #83c44e;
}

.wl-cont > ul > li:nth-child(2) h6 {
    color: #83c44e;
}

.wl-cont > ul > li:nth-child(3) {
    border-top: 1px solid #e53935;
}

.wl-cont > ul > li:nth-child(3) h6 {
    color: #e53935;
}

.wl-cont > ul > li:last-child {
    border-top: 1px solid #2196f3;
}

.wl-cont > ul > li:last-child h6 {
    color: #2196f3;
}

.wl-cont > ul > li .cont-each-inner {
    height: 275px;
}

.wl-cont > ul > li .cont-each-inner h4 {
    font-size: 20px;
    margin-top: 10px;
}

.wl-cont > ul > li .cont-each-inner p {
    font-size: 12px;
    color: #999;
    height: 42px;
}

.wl-cont > ul > li .cont-each-inner .pic img {
    width: 216px;
    height: 154px;
    margin-top: 22px;
}

.wl-cont ul.cut {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 28px;
}

.wl-cont ul.cut li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 8px;
    border-radius: 50%;
    background: #b0b0b0;
    cursor: pointer;
}

.wl-cont ul.cut li:hover {
    background: #ff6700;
}

.wl-cont ul.cut li.active {
    background: #fff;
    border: 2px solid #ff6700;
    transform: scale(1.2);
}

.wl-cont .arrow-wrap a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: rgba(66, 66, 66, 0.2);
    opacity: 0;
    transition: all .5s ease;
}

.wl-cont .arrow-wrap a:hover {
    background: rgba(66, 66, 66, 0.4);
}

.wl-cont .arrow-wrap a.arrow-left {
    left: 0;
}

.wl-cont .arrow-wrap a.arrow-left i {
    display: block;
    transform: rotate(180deg);
}

.wl-cont .arrow-wrap a.arrow-right {
    right: 0;
}

.wl-cont > ul > li:hover .arrow-wrap a {
    opacity: 1;
}

/* video */
.wl-video .more {
    position: absolute;
    top: 8px;
    right: 0;
    transition: all .1s ease;
}

.wl-video .more span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: #b0b0b0;
    border-radius: 9px;
    transform: translateY(-2px);
    transition: all .1s ease;
}

.wl-video .more span i {
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: #fff;
    transform: translate(0.8px, .6px);
}

.wl-video .more:hover {
    color: #ff6700;;
}

.wl-video .more:hover span {
    background: #ff6700;
}

.wl-video > ul > li {
    text-align: center;
}

.wl-video > ul > li > div {
    position: relative;
    cursor: pointer;
}

.wl-video > ul > li > div img {
    width: 296px;
    height: 180px;
}

.wl-video > ul > li > div span {
    position: absolute;
    left: 18px;
    bottom: 18px;
    padding: 0 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all .2s ease;
}

.wl-video > ul > li > div span i {
    display: block;
    font-size: 10px;
    color: #fff;
    transform: scale(.78);
}

.wl-video > ul > li > div:hover span {
    background: #ff6700;
    border-color: #ff6700;;;
}

.wl-video > ul > li > h6 {
    font-weight: normal;
    margin: 18px 0 5px;
}

.wl-video > ul > li > span {
    display: block;
    font-size: 12px;
    color: #999;
    margin-bottom: 28px;
}

/* video-pop-up */
.wl-video-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -88%);
    width: 880px;
    height: 536px;
    background: #fff;
    z-index: 10002;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.wl-video-popup.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.wl-video-popup h6 {
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding-left: 16px;
}

.wl-video-popup h6 a {
    position: absolute;
    top: 0;
    right: 12px;
}

.wl-video-popup h6 a:hover i {
    color: #5f5750;
}

.wl-video-popup .video-wrap video {
    width: 100%;
}

.wl-video-popup .play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: rgba(0,0,0,.3);
}

.wl-video-popup .play i{
    font-size: 22px;
    display: block;
    transform: translate(2px,0);
}

/* mask */
.wl-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 10001;
    display: none;
}